In [6]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
import pandas as pd
import seaborn as sns

In [4]:
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [22]:
x = df.drop(columns='species')
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [23]:
y = df['species']
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [24]:
pca = PCA(n_components=3)
pca.fit(x)
x_pca = pca.transform(x)

In [28]:
x['PCA1'] = x_pca[:,0]
x['PCA2'] = x_pca[:,1]
x['PCA3'] = x_pca[:,2]
x

,sepal_length,sepal_width,petal_length,petal_width,PCA1,PCA2,PCA3
0,5.1,3.5,1.4,0.2,-2.684126,0.319397,-0.027915
1,4.9,3.0,1.4,0.2,-2.714142,-0.177001,-0.210464
2,4.7,3.2,1.3,0.2,-2.888991,-0.144949,0.017900
3,4.6,3.1,1.5,0.2,-2.745343,-0.318299,0.031559
4,5.0,3.6,1.4,0.2,-2.728717,0.326755,0.090079
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,1.944110,0.187532,0.177825
146,6.3,2.5,5.0,1.9,1.527167,-0.375317,-0.121898
147,6.5,3.0,5.2,2.0,1.764346,0.078859,0.130482
148,6.2,3.4,5.4,2.3,1.900942,0.116628,0.723252
149,5.9,3.0,5.1,1.8,1.390189,-0.282661,0.362910

In [37]:
xx = x.loc[:,['PCA1','PCA2','PCA3']]
xx

         PCA1      PCA2      PCA3
0   -2.684126  0.319397 -0.027915
1   -2.714142 -0.177001 -0.210464
2   -2.888991 -0.144949  0.017900
3   -2.745343 -0.318299  0.031559
4   -2.728717  0.326755  0.090079
..        ...       ...       ...
145  1.944110  0.187532  0.177825
146  1.527167 -0.375317 -0.121898
147  1.764346  0.078859  0.130482
148  1.900942  0.116628  0.723252
149  1.390189 -0.282661  0.362910

[150 rows x 3 columns]

In [39]:
x_train,x_test,y_train,y_test = train_test_split(xx,y)

In [41]:
x_train.loc[89]

PCA1    0.166413
PCA2   -0.681927
PCA3   -0.060009
Name: 89, dtype: float64

In [43]:
x_test

         PCA1      PCA2      PCA3
78   0.813291 -0.163350  0.035425
146  1.527167 -0.375317 -0.121898
88   0.245958 -0.268524  0.188367
39  -2.590006  0.229044 -0.080082
38  -2.980502 -0.487958  0.072927
105  3.397039  0.550837 -0.348438
90   0.464800 -0.670712 -0.024307
33  -2.598737  1.093146  0.157811
53   0.183318 -0.827959 -0.179591
145  1.944110  0.187532  0.177825
103  1.971531 -0.179728  0.108425
134  1.781295 -0.499902 -0.172875
32  -2.648862  0.813364  0.225669
77   1.557802  0.267495 -0.164921
8   -2.886383 -0.578312  0.020760
62   0.264977 -0.550036 -0.694147
4   -2.728717  0.326755  0.090079
93  -0.704532 -1.012248 -0.105691
50   1.284826  0.685160 -0.406568
95   0.331934 -0.212655  0.083204
66   0.660284 -0.352970  0.328028
83   1.380026 -0.420954  0.016167
5   -2.280860  0.741330  0.168678
124  2.275431  0.334991  0.286150
98  -0.906470 -0.756093 -0.012600
64  -0.173925 -0.254854  0.090458
108  2.321229 -0.243832 -0.348304
121  1.199001 -0.606092  0.511856
72   1.298184 -0.327787 -0.347854
116  1.949689  0.041943  0.044186
10  -2.506947  0.645069 -0.075318
30  -2.587398 -0.204318 -0.077223
96   0.376216 -0.293219  0.077996
131  3.230674  1.374165 -0.114548
12  -2.786109 -0.235112 -0.206844
148  1.900942  0.116628  0.723252
135  3.076500  0.688086 -0.335592
111  1.803402 -0.215638 -0.037648

In [45]:
model = GaussianNB()
model.fit(x_train,y_train)

GaussianNB()

In [46]:
pred = model.predict(x_test)

In [47]:
print(f'Accuracy = {accuracy_score(y_test,pred)}')

Accuracy = 0.9473684210526315