In [5]:
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
driver = webdriver.Chrome(r'D:\UltimatePython\chromedriver-win64\chromedriver.exe')
driver.get('https://shopee.co.th/')
thai_button = driver.find_element_by_class_name("shopee-button-outline")
thai_button.click()
close_button = driver.execute_script('return document.querySelector("shopee-banner-popup-stateful").shadowRoot.querySelector("div.shopee-popup__close-btn")')
close_button.click()
search_bar = driver.find_element_by_class_name("shopee-searchbar-input__input")
search_bar.send_keys("melonthai")
search_bar.send_keys(Keys.ENTER)
time.sleep(3)
Id_name = driver.find_element_by_name("loginKey")
Id_name.send_keys("chopper_tnt")
password = driver.find_element_by_name("password")
password.send_keys("Chaninat1160")
time.sleep(3)
login = driver.find_element_by_class_name("wyhvVD")
login.click()
time.sleep(3)
melonthai = driver.find_element_by_class_name('shopee-search-user-item')
melonthai.click()
driver.execute_script('document.body.style.zoom="10%"')

In [6]:
import pandas as pd
page = 0
url = "https://shopee.co.th/melonthai?page=" + str(page) +  "&sortBy=sales"
data_dict_list = []
while page < 6 :
    try:
        url = "https://shopee.co.th/melonthai?page=" + str(page) +  "&sortBy=sales"
        driver.get(url)
        driver.execute_script('document.body.style.zoom="10%"')
        time.sleep(5)
        all_product = driver.find_elements_by_class_name("v0Bn0-")
        for product in all_product:
            data_dict = dict()
            name = product.find_element_by_class_name("h0HBrE").text
            try:
                price = product.find_element_by_class_name("_0ZJOIv").text
            except:
                price = None
            try:
                Amount = product.find_element_by_class_name("sPnnFI").text
            except:
                Amount = None

            data_dict["name"] = name
            data_dict['Price'] = price
            data_dict['Amount'] = Amount
            data_dict_list.append(data_dict)
        page = page+1
        print("Complete page number",page)
    except:
        print('The last page has already been used.')
df = pd.DataFrame(data_dict_list)
df = df[(df['Amount'] == '') | (df['Amount'].str.contains('/เดือน'))]
df = df.drop_duplicates()
df.reset_index(drop=True,inplace=True)
df.loc[df['Amount'] == '','Amount']='0'
df

Complete page number 1
Complete page number 2
Complete page number 3
Complete page number 4
Complete page number 5
Complete page number 6

,name,Price,Amount
0,*ส่งฟรี* ซิมเทพ ทรู ดีแทค AIS ซิมเน็ตที่คุ้มที...,"1,079",ขายได้ 11.5พัน ชิ้น/เดือน
1,[ รับประกัน ] ซิมเทพ ทรู ซิมเน็ตรายปี ซิมเทพ อ...,"1,079",ขายได้ 618 ชิ้น/เดือน
2,*ส่งฟรี* ซิมเทพทรู ซิม ธอร์ ซิมเน็ตไม่อั้น โทร...,"2,199",ขายได้ 164 ชิ้น/เดือน
3,**ส่งฟรี** ซิมเทพ AIS TRUE DTAC เน็ตไม่อั้น 15...,560,ขายได้ 149 ชิ้น/เดือน
4,[ ส่งฟรี ] ซิมเทพดีแทค 15Mbps / 30Mbps Turbo i...,"1,670",ขายได้ 141 ชิ้น/เดือน
...,...,...,...
176,Samsung Z Fold 4 5G Ram12/256GB Ram12/512GB ซั...,"38,500",
177,Vivo Y12A Ram3/32GB วีโว่ ออกใบกำกับภาษีได้ Sn...,"3,100",
178,Redmi Note 11 Ram6/128GB ออกใบกำกับภาษีได้ เคร...,"4,900",
179,Lenovo K8 Note เลอโนโว สมาร์ทโฟนกล้องคู่(Dual ...,"2,450",
180,Vivo Y30 5G Ram6/128GB เครื่องศูนย์ไทย ประกันศ...,"5,800",

In [128]:
import  re
pattern = r'[0-9]+[0-9]*\.*[0-9]*'

In [162]:
x = []
for price in df2['Amount']:
    if 'พัน' in price:
        e = re.findall(pattern,price)
        for i in e:
            x.append(float(i)*1000)
    else:
        e = re.findall(pattern,price)
        for i in e:
            x.append(float(i))

df2['Amount_new']  = x

In [168]:
df2.sort_values("Amount_new",ascending = False)

,name,Price,Amount,Amount_new
0,*ส่งฟรี* ซิมเทพ ทรู ดีแทค AIS ซิมเน็ตที่คุ้มที...,"1,079",ขายได้ 11.5พัน ชิ้น/เดือน,11500.0
1,[ รับประกัน ] ซิมเทพ ทรู ซิมเน็ตรายปี ซิมเทพ อ...,"1,079",ขายได้ 618 ชิ้น/เดือน,618.0
2,*ส่งฟรี* ซิมเทพทรู ซิม ธอร์ ซิมเน็ตไม่อั้น โทร...,"2,199",ขายได้ 164 ชิ้น/เดือน,164.0
3,**ส่งฟรี** ซิมเทพ AIS TRUE DTAC เน็ตไม่อั้น 15...,560,ขายได้ 149 ชิ้น/เดือน,149.0
4,[ ส่งฟรี ] ซิมเทพดีแทค 15Mbps / 30Mbps Turbo i...,"1,670",ขายได้ 141 ชิ้น/เดือน,141.0
...,...,...,...,...
125,*ส่งฟรี* ซิมรายปี ทรู ซิมเทพ ธอร์ 15Mbps 1 ปี ...,"2,199",0,0.0
124,SET 3 - เบอร์สวยทรู - เบอร์จำง่าย คัดมาเเล้ว ส...,"1,699",0,0.0
123,ใส้กรอง หน้ากาก LG PuriCare Face Guard Gen2 Ge...,49,0,0.0
122,[ SET 1 ] เบอร์มงคล DTAC 30 Mbps ดีแทค เกรด A+...,"2,190",0,0.0
180,Vivo Y30 5G Ram6/128GB เครื่องศูนย์ไทย ประกันศ...,"5,800",0,0.0

In [169]:
df2.to_excel(r'C:\Users\chopp\Downloads\Video\test0001.xlsx')